@import '../Variables';

.section2 {
    // @include border(5px, rgb(0, 0, 0));
    position: relative;
    height: 70vh;
    background: url('luca-bravo-ESkw2ayO2As-unsplash.jpg') no-repeat 0 0;
    background-size: 250%;
    background-position: center;

    .container {
        // @include border(4px, rgb(0, 73, 38));
        height: 25vh;
        width: 50%;
        background-color: #fff;

        .row {
            // @include border(3px, rgb(0, 55, 73));

            .parts {
                // @include border(2px, rgb(164, 9, 92));

                &:nth-of-type(2) {
                    font-size: 3rem;
                    font-weight: lighter;
                    letter-spacing: 2px;
                }

                &:nth-of-type(3) {
                    a.bt {
                        display: inline-block;
                        width: 10rem;
                        height: 3rem;
                        line-height: 2.3rem;
                        border: 1px solid $theme-color;
                        color: $theme-color;
                        text-decoration: none;
                        padding: 0.3rem 0.4rem;

                        &:hover {
                            background-color: $theme-color;
                            color: white;
                            transition: 0.4s;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 494px) {
    .section2 {
        .container {

            .row {
                .parts {
                    &:nth-of-type(1) {
                        h3 {
                            font-size: 1.2rem;
                        }
                    }

                    &:nth-of-type(2) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 494px) and (max-width: 690px) {
    .section2 {
        .container {

            .row {
                .parts {
                    &:nth-of-type(1) {
                        h3 {
                            font-size: 1.4rem;
                        }
                    }

                    &:nth-of-type(2) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 723px) {
    .section2 {
        height: 60vh;
    }
}

@media screen and (max-width: 1032px) {
    .section2 {
        .container {
            width: 75%;
            height: 50%;
        }
    }
}